# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Venv
.venv/
poetry.lock

# Dev configs
.env
.env.*

# Tests & coverage
tests/
.coverage
htmlcov/

# IDE / OS
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
poetry.lock