# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
alembic/versions/

# Virtual env
poetry.lock
.venv/
.env
.env.*

# MyPy / Pytest / Coverage
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/

# Ruff, Black, isort
.ruff_cache/
.cache/

# IDE / OS
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
